@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .login-section {
    flex-direction: column;
    width: 450px;
  }
  .usernamefield {
    width: 100%;
  }
  .passwordfield {
    width: 100%;
  }
  .div {
    margin: 0 auto;
  }
  /* ! */
  .password-flex {
    flex-direction: column;
  }
  .formEL-2 {
    width: 100%;
  }
  .forma {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .login-section {
    width: 100%;
  }
  .form-el {
    width: 100%;
  }
  .arrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .user-ul-list li {
    padding: 12px;
  }
  .user-ul-list li:nth-child(2n) {
    padding: 12px;
  }

  .container-accordion.active .acc-descr{
    height: 140px;
  }
}
