@media (max-width: 1024px) {
  .first-footer{
    font-size: 24px;
  }
  .footer-p{
    font-size: 18px;
  }
  .first-footer-div {
    max-width: 250px;
    width: 100%;
  }
  .second-footer-div{
    max-width: 250px;
    width: 100%;
    
  }
  .second-footer-div h2{
    font-size: 24px;
  }
  .second-footer-div p{
    font-size: 18px;
  }
  .footer{
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .login-section {
    flex-direction: column;
    width: 450px;
  }
  .usernamefield {
    width: 100%;
  }
  .passwordfield {
    width: 100%;
  }
  .div {
    margin: 0 auto;
  }
  /* ! */
  .password-flex {
    flex-direction: column;
  }
  .formEL-2 {
    width: 100%;
  }
  .forma {
    width: 100%;
  }
  /* ! */
  .container{
    flex-direction: column;
  }
  .first-footer{
    font-size: 35px;
  }
  .footer-p{
    font-size: 20px;
  }
  .first-footer-div {
    max-width: 450px;
    width: 100%;
  }
  .second-footer-div{
    max-width: 450px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .second-footer-div h2{
    font-size: 35px;
  }
  .second-footer-div p{
    font-size: 20px;
  }
  .footer{
    padding: 30px;
  }
  
}
@media (max-width: 480px) {
  .login-section {
    width: 100%;
  }
  .form-el {
    width: 100%;
  }
  .arrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .user-ul-list li {
    padding: 12px;
  }
  .user-ul-list li:nth-child(2n) {
    padding: 12px;
  }

  .container-accordion.active .acc-descr{
    height: 140px;
  }
  /* ! */
  .first-footer{
    font-size: 24px;
  }
  .footer-p{
    font-size: 18px;
  }
  .first-footer-div {
    max-width: 250px;
    width: 100%;
  }
  .second-footer-div{
    max-width: 250px;
    width: 100%;
    
  }
  .second-footer-div h2{
    font-size: 24px;
  }
  .second-footer-div p{
    font-size: 18px;
  }
  .footer{
    padding: 15px;
    
  }
  .container{
    align-items: center;
  }
}
